.background-gray {
    background-color: #999;
}

.black-on-white {
    color: #000;
    background-color: #fff;
}

.bold {
    font-weight: bold;
}

.box-shadow, .drop-shadow {
    box-shadow: #9993 0 0.5em 0.5em;
}

.box-1-to-1 {
    width: 100%;
    padding-top: 100%;
}

.box-2-to-1 {
    width: 100%;
    padding-top: 50%;
}

.box-4-to-3 {
    width: 100%;
    padding-top: 75%;
}

.box-16-to-9 {
    width: 100%;
    padding-top: 56.25%;
}

.color-gray {
    color:  #666;
}

.display-block {
    display: block;
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline;
}

.display-flex {
    display: flex;
}

.flex-xalign-center-items {
    justify-content: center;
}

.flex-yalign-center-items {
    align-items: center;
}

.justify-self-start {
    justify-self: start;
}

.justify-self-end {
    justify-self: end;
}

.display-grid {
    display: grid;
}

.display-grid.columns-auto-1 {
    grid-template-columns: repeat(1, 1fr);
}

.display-grid.columns-auto-2 {
    grid-template-columns: repeat(2, 1fr);
}

.display-grid.columns-1-to-2 {
    grid-template-columns: 1fr 2fr;
}

.display-grid.columns-1-to-3 {
    grid-template-columns: 1fr 3fr;
}

.display-grid.columns-1-to-3-to-1 {
    grid-template-columns: 1fr 3fr 1fr;
}

.display-grid.columns-auto-4 {
    grid-template-columns: repeat(4, 1fr);
}

.display-grid-item {
}

.display-grid-item.grid-col-1 {
    grid-column: 1;
}

.display-grid-item.grid-col-2 {
    grid-column: 2;
}

.display-inline-flex {
    display: inline-flex;
}

.grayscale {
  -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
}

.grid-xalign-left {
    justify-content: start;
}

.hover-gray-background:hover {
    background-color: #ccc;
}

.italic {
    font-style: italic;
}

.solid-black-border-1px {
    border: 1px solid #000;
}

.border-1px-solid-black {
    border: 1px solid #000;
}

.margin-bottom-1em {
    margin-bottom: 1em;
}

.margin-bottom-auto {
    margin-bottom: auto;
}

.margin-left-lem {
    margin-left: 1em;
}

.margin-left-auto {
    margin-left: auto;
}

.margin-right-1em {
    margin-right: 1em;
}

.margin-right-auto {
    margin-right: auto;
}

.margin-top-1em {
    margin-top: 1em;
}

.margin-top-auto {
    margin-top: auto;
}

.padding-bottom-1em {
    padding-bottom: 1em;
}

.padding-bottom-auto {
    padding-bottom: auto;
}

.padding-left-1em {
    padding-left: 1em;
}

.padding-left-auto {
    padding-left: auto;
}

.padding-right-1em {
    padding-right: 1em;
}

.padding-right-auto {
    padding-right: auto;
}

.padding-top-1em {
    padding-top: 1em;
}

.padding-top-auto {
    padding-top: 1em;
}

.round-corners-1em {
    border-radius: 1em;
}

.tab-link-container {
    overflow: hidden;
}

.text-align-center {
    text-align: center;
}

.text-shadow, .drop-shadow-text {
    text-shadow: #9993 0 0.25em 0.25em;
}

.underlined {
    text-decoration: underline;
}


.text-align-justify {
    text-align: justify;
}

.thumbnail {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

ul.no-bullet {
    list-style: none;
}

.white-on-black {
    color: #fff;
    background-color: #000;
}

.width-100-percent {
    width: 100%;
}


/** Overriders **/

.active {
    color: #ccc;
    background-color: #333;
}


