/* Reset */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #fff;
}

form {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

ul, li {
	padding: 0;
	margin: 0;
}

main, section, header, aside, footer, nav {
	display: block;
}

/* Clearfix all the blocks. */
.cf:after,
main:after,
section:after,
header:after,
aside:after, 
footer:after,
nav:after {
	content: " ";
	display: block;
	clear: both;
}
/* End Reset */
