.tab-link-container>.tab-link {
    overflow: hidden;
    border: 1px solid #000;
}

.tab-panel {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.tab-panel-container {
    position: relative;
}

.tab-panel.current {
    visibility: visible;
}

.tab-link {
    float: left;
    cursor: pointer;
    padding: 1em;
}

.tab-link:hover {
    background-color: #333;
    color: #ccc;
}

.modal {
    width: 50vw;
    min-height: 50vh;
    margin: auto;
    background-color: #fff;
    position: absolute;
    top: 25vh;
    left: 25vw;
    padding: 1em;
}

.modal-overlay  {
    position: absolute;
    top: 0;
    left: 0;
    background: #0003;
    min-height: 100vh;
    width: 100%;
}

